@mixin flex-component($direction: row, $justify: space-between, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin grid-component($columns: repeat(3, 1fr), $rows: auto, $justify: center, $align: center) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  justify-content: $justify;
  align-items: $align;
}