@use "../../styles/index.scss" as styles;

.iccc-footer {
  @include styles.flex-component(column, flex-start, center);
  width: 100%;
  height: 100%;
  background-color: styles.$dark-blue;

  @media (max-width: styles.$navigation-breakpoint-tablet) {
    // border:solid red;
  }
  &__container {
    @include styles.flex-component(column, flex-start, center);
    width: 80%;
    height: 100%;

    &__icon {
      @include styles.flex-component(column, center, center);
      width: auto;
      height: 50%;
      //  border:solid red;

      @media (max-width: styles.$navigation-breakpoint-tablet) {
        height: auto;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__links {
      @include styles.flex-component(row, space-between, center);
      width: 50%;
      color: white;

      @media (max-width: styles.$navigation-breakpoint-tablet) {
        width: 100%;
        flex-direction: column;
        gap: styles.$gap-xs;
        height: auto;
      }

      a {
        color: white;
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover {
          color: styles.$main-blue;
        }
      }
    }
    span {
      border-bottom: solid white 1px;
      width: 100%;
      height: 50px;
    }

    &__copyright {
      @include styles.flex-component(row, space-between, center);
      width: 100%;
      margin-top: 12px;

      @media (max-width: styles.$navigation-breakpoint-tablet) {
        //   flex-direction: column;
        gap: styles.$gap-xs;
        height: auto;
        font-size: 0.5rem;
      }

      &__text {
        @include styles.flex-component(row, flex-start, center);

        @media (max-width: styles.$navigation-breakpoint-tablet) {
          width: 60%;
        }

        p {
          color: white;
          margin: 0;
          padding: 0;
        }
      }

      &__policy {
        @include styles.flex-component(row, flex-end, center);
        width: 50%;
        height: 100%;
        gap: styles.$gap-lg;

        @media (max-width: styles.$navigation-breakpoint-tablet) {
          gap: styles.$gap-xs;
        }

        a {
          color: white;
          text-decoration: none;
          transition: all 0.3s ease;
          &:hover {
            color: styles.$main-blue;
          }
        }
      }
    }
  }
}
