@use "../../styles/index.scss" as styles;

.iccc-info-bullet{
    @include styles.flex-component(row, center, center);
    width: 100%;
    height: 100%;
    background-color: styles.$light;
    border-radius: styles.$main-border-radius;
    gap: styles.$gap-lg;
    
    &__icon{
        @include styles.flex-component(column, center, center);
        width: 10%;
        height: 100%;
    }
    
    &__text{
        @include styles.flex-component(column, center, flex-start);
        color: styles.$navy;
        text-wrap: wrap;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1;
        width: 80%;
        height: 100%;
    }
}